# Игнорируем кэш и скомпилированные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорируем лог-файлы
*.log

# Игнорируем файлы покрытия (coverage report)
coverage.xml

# Игнорируем папки с виртуальными окружениями
venv/
env/

# Игнорируем IDE и текстовые редакторы
.vscode/
.idea/

# Не игнорировать папки с рабочими файлами, такими как .github и домашки
!.github/
!01/
!02/
